{% extends 'base.html' %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/blog_detail.css') }}">
{% endblock %}

{% block meta %}
    <meta name="description" content="{{ blog.description }}">
{% endblock %}

{% block content %}
    <section class="blog-detail">
        <h1>{{ blog.title }}</h1>
        <small>
            {% if blog.update_time and blog.update_time.strip() %}
                Updated: {{ blog.update_time }}
            {% else %}
                Published: {{ blog.publish_time }}
            {% endif %}
        </small>

        <div class="blog-content">
            {% for block in blog.content %}
                {% if block.type == "text" %}
                    <p>{{ block.value | safe }}</p>

                {% elif block.type == "image" %}
                    <div>
                        <p class="blog-image-title"><strong>{{ block.title }}</strong></p>
                    </div>
                    <div class="blog-image">
                        <img src="{{ url_for('static', filename='images/blogs/' ~ blog.slug ~ '/' ~ block.value) }}"
                             alt="{{ block.alt }}">
                    </div>

                {% elif block.type == "product" %}
                    {% set product = products.get(block.model) %}
                    {% if product %}
                        <div class="blog-product">
                            <h3>{{ block.title }}</h3>
                            <a href="{{ url_for('product_detail', model=block.model) }}">
                                View Product: {{ product.name }}
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block js %}
{% endblock %}